<app-header></app-header>
<main>
<img src="assets/images/gt_globe_web_cropped.jpg" />
<div class="home">

    <div class="h1box">
    <h1>the leading global thinkers of 2016</h1>
    </div>

    <article>
      <h2>The Case for Optimism</h2>
      <p>An ugly strain of populism reared its head in America this year. After months of spewing sexist, racist, homophobic, and xenophobic rhetoric, Donald Trump stunned pollsters—and the citizens whose ballots earned Hillary Clinton the popular vote—by winning the White House. Nativist politics won out, and Americans joined other populations, including Brexit supporters and Colombians who rejected the long-awaited peace deal, in voting against their self-interest. Through democratic means, fear surpassed reason repeatedly in 2016, leaving many wondering who will handle the unprecedented crises that the world faces—the war in Syria, mass migration, climate change—and how.</p>
      <br>
      <p>Yet all is not lost. The Global Thinkers honored here are proof that, as a society’s pillars falter, individuals step in to bear the weight. The honorees demonstrated how private citizens can ease the suffering of others. They subverted traditional power structures to craft solutions to social, economic, and environmental problems. They pledged personal wealth to create a safer, healthier future for all.</p>
      <br>
      <p>The 100 Leading Global Thinkers of 2016 are emblematic of our innate desire to confront pessimism rather than surrender to despair, to challenge ugliness rather than resign to failure. In a moment of great uncertainty, they should serve as reminders that humanity has the power to hold leaders to account, to defy corrupt regimes, and to provide one another opportunity and solace when states cannot. They live by the scriptural exhortation that Hillary Clinton quoted in her concession speech, and which all those who believe in progress should take to heart: “Let us not grow weary.”</p>
      <br>
      <p style="font-style:italic;">&mdash;The Editors; Photograph by Mauricio Alejo</p>
    </article>

</div>

<app-landing></app-landing>

</main>
<app-footer></app-footer>
