ul{
    margin: 0 auto;
    padding: .5em 0;
    height: 37px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s;
    position: relative;
}

#nav-wrapper{
    padding-left: 50%;
}

.nav-fade-left, .nav-fade-right{
    display: block;
    width: 50px;
    height: 100%;
    top: 0;
    position: absolute;
}

.nav-fade-right{
    left: 0;
}
.nav-fade-left{
    right: 0;
}

li{
    display: inline-block;
    font-family: "Solido Condensed";
    font-weight: 700;
    text-transform: uppercase;
}

li a {
    color: #000;
    text-decoration: none;
    padding: .5em 1em;
    cursor: pointer;
}

li a:hover {
    text-decoration: underline;
}

/*li a.active {
    color: #fff;
}*/

::-webkit-scrollbar {
    display:none;
}

@media screen and (min-width: 800px){
    .nav-fade-left, .nav-fade-right{
        width: 10%;
        min-width: 100px;
    }
}

@media screen and (max-width: 480px) {
    ul {
        padding: 6em 0 0;
    }
}
